<div class="main-container">
  <h1>Övningar - Enhetstester</h1>
  <div *ngFor="let category of categories">
    <h3 class="category-header">&#8903; {{category.header}}</h3>
    <ng-container *ngFor="let exercise of category.exercises; let even = even">
      <div class="row exercise-row">
        <div class="col-8">
          <span class="exercise-name">{{exercise.name}}()</span>
        </div>
        <div class="col-4 button-container">
          <button mat-raised-button color="primary" (click)='exercise.showSolutionProposal = !exercise.showSolutionProposal'>
            {{exercise.showSolutionProposal ? 'Dölj' : 'Visa'}} förslag
          </button>    
        </div>
      </div>
      <div class="solution-container" *ngIf='exercise.showSolutionProposal' Markdown path="{{exercise.solutionProposalPath}}"></div>            
    </ng-container>
  </div>
</div>